################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Debug
/Release
/.vs/LINKS/v14/.suo
/LINKS.APS
/LINKS.sdf
/LINKS.vcxproj.user
/LINKS.vcxproj.filters
/LINKS.VC.VC.opendb
/LINKS.VC.db
